<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1 id="subjects"><b>Revision Quiz</b></h1>
    <div id="subjects">
        <h2 id="text">Select a subject to revise:</h2>
        <form>
            <button>Science</button>
        </form>
        <br>
        <form>
            <button>Maths</button>
        </form>
        <br>
        <form>
            <button>English</button>
        </form>
        <br>     
    </div>
</body>
</html>