<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Revision Quiz</title>
</head>
<body>
    <header class="headerStyle">
    <h1 style="text-align: center;    padding-top: 25px;">Revision Quiz</h1>
    </header>
   
    <h2>Select a category to revise:</h2>
    <div style="display:flex;width:100%">
    {% for category in categories %}
        <form style="width:150px" action="{{ url_for('quiz', sub_id=category[0]) }}" method="get">
            <button class="mainBtn" type="submit">{{ category[1] }}</button>
        </form>
    {% endfor %}
    </div>
</body>
</html>